<% content_for :page_title do %>
    <%= render "shared/page_title", title: 'Announcements' %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <h4 class="text-md-blue">Announcements</h4>
        <div class="panel">
            <div class="panel-body">
                <h4>2019 Annual Meeting</h4>
                <h6>Posted: Sep. 17, 2019</h6>
                <br>
                <p>
                    Our next HOA meeting will he held on Monday, October 7, 2019 at 7pm. The fiscal year will begin Nov. 1, 2019 and go through Oct. 31, 2020.
                </p>
                <p>
                    We will get together at the same place as our previous meeting, the Tri-Country Worship Center located at <a href="https://goo.gl/maps/jzQ1a2eDekNAsUkK8" target="_blank">450 E Perkins Creek Rd, Seneca, SC 29678</a>.
                </p>
                <p>
                    Anyone wishing to run for an office position, please submit you name to the current board, via email at <a href="mailto:madisonpthoa@gmail.com">madisonpthoa@gmail.com</a>. We will have openings for President and Secretary.
                </p>
                <p>
                    We hope to see you all there.
                </p>
                <p>
                    Wade Watt, President
                    <br>
                    Jim Budday, Secretary
                    <br>
                    Patrick Eisman, Treasurer
                </p>
            </div>
        </div>
        <br>
        <div class="panel">
            <div class="panel-body">
                <h4>First Meeting Follow-up</h4>
                <h6>Posted: Mar. 11, 2019</h6>
                <br>
                <p>
                    Seneca Light and Water has a summer water program. This program averages your usage from the previous year to potentially help save money during the hot summer months. Contact them for more information at 864-885-2723.
                </p>
                <p>
                    Since there are no streetlights in Madison Pointe, it has been suggested that residents turn on their exterior lights during the evening. This will provide light in the neighborhood to help ensure safety and security.
                </p>
                <p>
                    As discussed in the meeting, lights for each entrance and the mailboxes are being researched. More information will be provided as it becomes available.
                </p>
                <p>
                    Meeting minutes are on the website. You can find them on the <%= link_to 'resources page', resources_path %>.
                </p>
            </div>
        </div>
        <br>
        <div class="panel">
            <div class="panel-body">
                <h4>First HOA Meeting</h4>
                <h6>Posted: Jan. 11, 2019</h6>
                <br>
                <p>
                    Our first official HOA meeting will be Feb. 11, at 7:00pm at Tricounty Worship Center.
                    <br>
                    <b>Address:</b> 451 Perkins Creek Rd, Seneca, SC 29678
                </p>
                <p>
                    <b>Reminder:</b> HOA annual dues of $50 are needed ASAP.
                </p>
            </div>
        </div>
    </div>
</div>
