<% content_for :page_title do %>
    <%= render "shared/page_title", title: 'Announcements' %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <h4 class="text-md-blue">Announcements</h4>
        <div class="panel">
            <div class="panel-body">
                <h4>2022 Annual Meeting</h4>
                <p>
                    This years HOA meeting will be on Monday, July 11th at 7pm.
                </p>
                <p>
                    The meeting will be held at Tri-County Worship Center located at <a href="https://goo.gl/maps/jzQ1a2eDekNAsUkK8" target="_blank">450 E Perkins Creek Rd, Seneca, SC 29678</a>.
                </p>
            </div>
        </div>
        <br>
        <div class="panel">
            <div class="panel-body">
                <h4>2020 Annual Meeting</h4>
                <h6>Posted: Dec. 13, 2020</h6>
                <br>
                <p>
                    This year's HOA meeting will be held virtually (via Zoom) on <b>Tuesday, December 15th at 7pm</b>. At last year's metting we established HOA officer terms staggered every three years. At this meeting, we will be electing a Treasurer. If you would like to nominate yourself for HOA Treasurer, please email the current board. Also, if you have agenda items you would like to discuss at the meeting, please email them ahead of time if at all possible to <a href="mailto:madisonpointehoa@gmail.com">madisonpointehoa@gmail.com</a>.
                </p>
                <p>
                    The meeting link is <a href="https://zoom.us/j/98635405147" target="_blank">https://zoom.us/j/98635405147</a>
                </p>
                <p>
                    The passcode to enter the meeting is: <b>337666</b>
                </p>
                <p>
                    If you would prefer to join form one of Zoom's desktop of mobile apps, the meeting ID is: <b>986 3540 5147</b>
                </p>
                <p>
                    Once clicking the link above, you will be promped to download Zoom for your device. You may do this, but you should also see an option to "Join from your browser" (only desktop devices) which will let you join the meeting without downloading or installing anything.
                </p>
            </div>
        </div>
        <br>
        <div class="panel">
            <div class="panel-body">
                <h4>2019 Annual Meeting</h4>
                <h6>Posted: Sep. 17, 2019</h6>
                <br>
                <p>
                    Our next HOA meeting will he held on Monday, October 7, 2019 at 7pm. The fiscal year will begin Nov. 1, 2019 and go through Oct. 31, 2020.
                </p>
                <p>
                    We will get together at the same place as our previous meeting, the Tri-Country Worship Center located at <a href="https://goo.gl/maps/jzQ1a2eDekNAsUkK8" target="_blank">450 E Perkins Creek Rd, Seneca, SC 29678</a>.
                </p>
                <p>
                    Anyone wishing to run for an office position (President, Secretary, Treasurer), please submit you name to the current board, via email at <a href="mailto:madisonpthoa@gmail.com">madisonpthoa@gmail.com</a>.
                </p>
                <p>
                    We hope to see you all there.
                </p>
                <p>
                    Wade Watt, President
                    <br>
                    Jim Budday, Secretary
                    <br>
                    Patrick Eisman, Treasurer
                </p>
            </div>
        </div>
        <br>
        <div class="panel">
            <div class="panel-body">
                <h4>First Meeting Follow-up</h4>
                <h6>Posted: Mar. 11, 2019</h6>
                <br>
                <p>
                    Seneca Light and Water has a summer water program. This program averages your usage from the previous year to potentially help save money during the hot summer months. Contact them for more information at 864-885-2723.
                </p>
                <p>
                    Meeting minutes are on the website. You can find them on the <%= link_to 'resources page', resources_path %>.
                </p>
            </div>
        </div>
        <br>
        <div class="panel">
            <div class="panel-body">
                <h4>First HOA Meeting</h4>
                <h6>Posted: Jan. 11, 2019</h6>
                <br>
                <p>
                    Our first official HOA meeting will be Feb. 11, at 7:00pm at Tricounty Worship Center.
                    <br>
                    <b>Address:</b> 451 Perkins Creek Rd, Seneca, SC 29678
                </p>
                <p>
                    <b>Reminder:</b> HOA annual dues of $50 are needed ASAP.
                </p>
            </div>
        </div>
    </div>
</div>
