<% content_for :page_title do %>
    <%= render "shared/page_title", title: 'Announcements' %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <h4 class="text-md-blue">Announcements</h4>
        <div class="panel">
            <div class="panel-body">
                <h4>First HOA Meeting</h4>
                <h6>Posted: Jan. 11, 2019</h6>
                <br>
                <p>
                    Our first official HOA meeting will be Feb. 11, at 7:00pm at Tricounty Worship Center.
                    <br>
                    <b>Address:</b> 451 Perkins Creek Rd, Seneca, SC 29678
                </p>
                <p>
                    <b>Reminder:</b> HOA annual dues of $50 are needed ASAP.
                </p>
            </div>
        </div>
    </div>
    <%
=begin%>
 <div class="col-md-5">
        <h4 class="text-md-blue">Submit Announcement</h4>
        <div class="panel">
            <div class="panel-body">
                <p class="text-muted">
                    Submit an announcement to be posted on the announcement board. All will be reviewed before posting to the board.
                </p>
                <div class="input-group mb-2">
                    <input class="form-control" placeholder="Name...">
                </div>
                <div class="input-group mb-2">
                    <input class="form-control" placeholder="Subject...">
                </div>
                <div class="input-group mb-2">
                    <textarea class="form-control" rows="5" placeholder="Message..."></textarea>
                </div>
            </div>
        </div>
    </div>
<%
=end%>
</div>
