<% content_for :page_title do %>
    <%= render "shared/page_title", title: 'Announcements' %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <h4 class="text-md-blue">Announcements</h4>
        <div class="panel">
            <div class="panel-body">
                <h4>First Meeting Follow-up</h4>
                <h6>Posted: Mar. 11, 2019</h6>
                <br>
                <p>
                    Seneca Light and Water has a summer water program. This program averages your usage from the previous year to potentially help save money during the hot summer months. Contact them for more information at 864-885-2723.
                </p>
                <p>
                    Since there are no streetlights in Madison Pointe, it has been suggested that residents turn on their exterior lights during the evening. This will provide light in the neighborhood to help ensure safety and security.
                </p>
                <p>
                    As discussed in the meeting, lights for each entrance and the mailboxes are being researched. More information will be provided as it becomes available.
                </p>
                <p>
                    Meeting minutes are on the website. You can find them on the <%= link_to 'resources page', resources_path %>.
                </p>
            </div>
        </div>
        <br>
        <div class="panel">
            <div class="panel-body">
                <h4>First HOA Meeting</h4>
                <h6>Posted: Jan. 11, 2019</h6>
                <br>
                <p>
                    Our first official HOA meeting will be Feb. 11, at 7:00pm at Tricounty Worship Center.
                    <br>
                    <b>Address:</b> 451 Perkins Creek Rd, Seneca, SC 29678
                </p>
                <p>
                    <b>Reminder:</b> HOA annual dues of $50 are needed ASAP.
                </p>
            </div>
        </div>
    </div>
</div>
