<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Madison Pointe HOA New Member</h3>
    <p>
      <%= @person %> just created an account: <%= @url %>
    </p>
  </body>
</html>