<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Welcome to Madison Pointe Homeowners Association</h3>
    <p>
      Verify your account at <%= @url %>
    </p>
    <p>
      After you click the link above to verify your account you will be able to login.
    </p>
    <p>
      Your information will not be visible in the directory until an administrator validates your account.
    </p>
  </body>
</html>