<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Madison Pointe Homeowners Association</h1>
    <p>
      Verify your account at <%= @url %>
    </p>
    <p>
      After you click the link above to verify your account you will be able to login. You will have restricted access until an administrator validates your account.
    </p>
  </body>
</html>