<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Madison Pointe HOA Dues Reminder</h3>
    <p>
      This is a reminder that <%= @dues_house.due.year %> HOA Dues are needed by the end of the year. Login to your account to pay online at <a href="https://madisonpthoa.com">https://madisonpthoa.com</a>
    </p>
    <p>
      If you no longer are a resident of <%= @dues_house.house %>, contact Matt Ellis at madisonpthoaweb@gmail.com to remove your account.
    </p>
    <p>
      Please do not reply directly to this email.
    </p>
  </body>
</html>
