<div style="background-color: #e9ecef;">
    <ul class="breadcrumb container">
        <% items.each do |item| %>
            <li class="breadcrumb-item"><%= item %></li>
        <% end %>
    </ul>
</div>
