<% content_for :page_title do %>
    <%= render "shared/page_title", title: 'Resources' %>
<% end %>

<div class="row">
    <div class="col-md-5">
        <h4 class="text-md-blue">Documents</h4>
        <div class="panel">
            <div class="panel-body">
                <h4>Covenants</h4>
                <ul>
                    <li><a href="#">Covenants</a></li>
                </ul>
                <h4>Plat & Houseplans</h4>
                <ul>
                    <li><a href="#">Plat</a></li>
                    <li><a href="#">House plans</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <h4 class="text-md-blue">Helpful Resources</h4>
        <div class="panel">
            <div class="panel-body">
                <h4>Power & Water</h4>
                <ul>
                    <li>Seneca Light & Water &mdash; (864) 888-8888</li>
                </ul>
                <h4>Trash Pickup</h4>
                <ul>
                    <li>Seneca Light & Water &mdash; (864) 888-8888</li>
                </ul>
                <h4>Home Repair</h4>
                <ul>
                    <li>Handiman Joe &mdash; (864) 888-8888</li>
                    <li>Bob Johnson &mdash; (864) 888-8888</li>
                </ul>
                <h4>Landscaping</h4>
                <ul>
                    <li>Fences & Design &mdash; (864) 888-8888</li>
                    <li>John's Custom Landscaping &mdash; (864) 888-8888</li>
                </ul>
            </div>
        </div>
    </div>
</div>
