@import "bootstrap";
@import "material_icons";

body {
    background-color: #F6F7F8;
    font-weight: 200;
}

.text-md-blue {
    color: #8B96A4;
}
.text-dark-blue {
    color: #2C3E50;
}
.text-light-red {
    color: #EF233C;
}

.navbar {
    .navbar-brand {
        letter-spacing: 1px;
    }
    .nav-item > .nav-link {
        margin-left: 5px;
    }
}

.page-title {
    background-color: #007bff;
    color: #e4f2f6;
    height: 85px;
    width: 100%;
    font-size: 2.2em;
    font-weight: 200;
    line-height: 2.8;
    letter-spacing: 1px;
    text-transform: capitalize;
}

h1, h2, h3, h4, h5 {
    font-weight: 100;
    letter-spacing: 1px;
}

.table th {
    border-top: none;
}
