<% content_for :page_title do %>
    <%= render "shared/page_title", title: 'My profile' %>
<% end %>

<% if ! @user.is_active %>
    <div class="alert alert-warning">
        Your account has not been verified. Once an administrator approves your account, the contact info provided will show in the <%= link_to 'directory', directory_index_path %>
    </div>
<% end %>

<div class="row">
    <div class="col-sm-4">
        <%= yield :dues_content %>
    </div>
    <div class="col-sm-8">
        <%= yield :profile_content %>
    </div>
</div>
